<div class="cover-root chatroom-list-comp co-event-list-rooms"
  (co-event-list-rooms)="listRooms($event)">

  <mat-toolbar class="cover-header">

    <mat-toolbar-row class="cover-header-row">
      
      {{ header }}  
      
      <mat-icon [matMenuTriggerFor]="menu"
        class="cover-header-options">
        more_vert
      </mat-icon>
    
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signOut()">Sign Out</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="rooms-container">

    <div class="room-item"
      *ngFor="let room of chatrooms"
      (click)="openChat(room)">

      <div class="room-icon"
        [style.background-color]="getRandomColor(room.roomName)">
        {{ room?.roomName | extractInitial }}
      </div>

      <div class="room-name">
        {{ room?.roomName }}
      </div>
    </div>

  </div>

</div>

<button mat-fab
  color="accent"
  class="create-room-button"
  (click)="openChatroomCreate()">
  <mat-icon>add</mat-icon>
</button>
