<div class="cover-root chatroom-list-comp co-event-list-rooms"
  (co-event-list-rooms)="listRooms($event)">

  <mat-toolbar class="chat-header">

    <mat-toolbar-row class="chat-header-row">
      
      {{ header }}  
      
      <mat-icon [matMenuTriggerFor]="menu"
        class="chat-options">
        more_vert
      </mat-icon>
    
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signOut()">Sign Out</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="messages-container">

    <div class="msg-item" *ngFor="let msg of chatMessages"
      [class.self-msg]="rc.senderName === msg.senderName">
      
      <div class="msg-sender"
        [style.background-color]="getRandomColor(msg.senderName)">
        {{ msg?.senderName | extractInitial }}
      </div>

      <div class="msg-text">
        {{ msg?.text }}
      </div>
    </div>

  </div>

</div>

<div class="new-msg-input">
  <input type="text"
    coAutoFocus
    placeholder="Type here..."
    name="newMessage"
    [(ngModel)]="newMessage"
    (keyup.enter)="sendMessage()">

  <button mat-mini-fab 
    type="button"
    color="primary"
    (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>
</div>