/* file for declaring reference variables
* this file should not be included anywhere except in the cover-style file
*/

// FONT SIZES
$reference-font-size: 14px;
$heading-font-size: 1.4rem;
$subheading-font-size: 1.1rem;
$body-font-size: 1rem;
$body-supp-font-size: .8rem;

// FONT FAMILIES
$font-body-bold: 'Open Sans Bold';
$font-body-normal: 'Open Sans Normal';
$font-body-light: 'Open Sans Light';
